<!DOCTYPE html>
<html>

<head>

    <h1>
        <title> Kaikki haikut </title>
    </h1>
</head>
<style>
    body {
        
        background-image: url("/static/haiku2.jpeg");
           background-repeat: no-repeat;
           background-size: cover;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: inherit;
        font-size: 12px;
    }

    

    h2 {
        color: navy;
        margin-left: 0px;
        
    } 

    .options{
        float: left;
    }    

    .frontpage{
        float: right;
    }


    }
</style>

<body>

    <h3> Järjestä:</h3>
    <div class ="options">
    <select name="valinta" id="arrange" onchange="location.href='/'+[value]">
        <option value="nimi">Nimi</option>
        <option value="paivamaara" onclick="/">Päivämäärä</option>
        <option value="genre">Genre</option>
        <option value="arvosana">Arvosana</option>
      </select> 
    </div>

    <div class="frontpage">
    <button type="button" onclick="location.href='/'"> Takaisin etusivulle </button>    

    </div>

    <hr>
    <hr>
    <p>
    <h2> Tarkastele haikuja </h2></p>
    <hr>
    {% for haiku in haikut %}
    <i>Haiku:</i> {{ haiku[1] }}
    <p>
        <i>Arvosana:</i> {{ haiku[2] }}
    <p>
        <i>Genre:</i> {{ haiku[3] }}
    <p>
        <i>Sisältö: </i> {{haiku[5] }}
        <hr>
        {% endfor %}


    
    

</body>

</html>