<!DOCTYPE html>
<link rel="stylesheet" href="main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<html>
  <head>
    <style>
      @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
        body {
            background-image: url("/static/haiku2.jpeg");
            background-repeat: no-repeat;
            background-size: auto; 
        }
    </style>
    </head> 
       
<form action="/send" method="post">
    
    Haikun nimi:
    <br>
    <textarea name="nimi" rows="1" cols="40"></textarea>
    <br>
    
    <br><label for="genre">Valitse genre:</label>
    <select name="genre" id="genre">
      <option value="scifi">Sci-fi</option>
      <option value="romantiikka">Romantiikka</option>
      <option value="kauhu">Kauhu</option>
      <option value="kitsch">Kitsch</option>
      <option value="realismi">Realismi</option>
    </select>

    <br> <br>

    Kirjoita haiku: <br>
    <textarea name="content" rows="3" cols="40"></textarea>
    <br><br>
    <input type="submit" value="Lähetä">
    </form>