<!DOCTYPE html>
<link rel="stylesheet" href="main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<html>

<head>
   <style>
       body {
           background-image: url("/static/haiku2.jpeg");
           background-repeat: no-repeat;
           background-size: auto;
       } 
   </style>   
</head>

<form action="/register" method="post">
    Tunnus: <input type="text" name="username">
    <p>
    Salasana: <input type="password" name="password">
    <p>
    <input type="submit" value="Luo tunnus">
    </form>
    

</html>